.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 40px; 
  }
  
  form {
    margin-bottom: 60px; 
  }
  
  button { 
    width: 400px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  }
  
 